name: vehicle_maintenance_mobile
description: A mobile client for your vehicle maintenance & reminders app.
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

  # Supabase client + auth
  supabase_flutter: ^2.6.0

  # For date formatting if we want it later
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
